.goods_cont {
  @include flex (row, center, center, nowrap);
}

.goods_cont_box {
  position: relative;
  display: block;
  width: 33.3%;
    .goods_box-text {
        color: $color_spec_first;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h3 {
          font-size: 25px;
          margin-bottom: 15px;
        }
    }
    .goods_box-img {
        width: 100%;
        height: 100%;
    }
}

.goods_video {
  @include flex (row, space-between, center, nowrap);
  padding-top: 55px;
    iframe {
      width: 100%;
    }
}

.video {
  position: relative;
  margin: 15px;
  width: 600px;
  height: 338px;
  display: inline-block;
  iframe, img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: none;
  }
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &:focus {
    outline: none;
  }
  .video-play-icon {
  	fill: #ffffff;
  }
  .video-play-shape {
  	fill: #212121;
  	fill-opacity: 0.8;
  }
}

.video:hover .video-play-shape,
.video:focus .video-play-shape {
	fill: #ff0000;
	fill-opacity: 1;
}

@media (max-width: $pc) {
.goods_cont_box {
    .goods_box-text {
        h3 {
          font-size: 22px;
            }
        }
    }
}

@media (max-width: $notebook) {
  .goods_cont_box {
      .goods_box-text {
          h3 {
            font-size: 18px;
          }
      }
   }
}

@media (max-width: $tablet) {
  .goods_cont {
    @include flex (column, center, center, nowrap);
  }

  .goods_cont_box {
    width: 100%;
      .goods_box-text {
          h3 {
            font-size: 22px;
          }
          p {
            font-size: 18px;
          }
      }
   }
   .goods_video {
     @include flex (column, center, center, nowrap);
       // iframe {
       //   width: 100%;
       // }
   }
}
@media (max-width: $mobile) {
  .goods_cont_box {
    width: 100%;
      .goods_box-text {
          h3 {
            font-size: 22px;
          }
          p {
            font-size: 158x;
          }
      }
   }
}
