.skateboards-block {
  background-image: url(../img/skateboards/skateboards.jpg);
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 44px 0px;
}

.skateboards-block-text {
  text-align: center;
  opacity: 0;
  transform: translate(0px, 100%);
  transition: all 1s ease;
      &._active {
        opacity: 1;
        transform: translate(0px, 0px);
      }
  span {
    font-size: 15px;
  }
  h2 {
    font-size: 45px;
    padding: 11px 0px 15px;
  }
  p {
    font-size: 15px;
    line-height: 18px;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

.skateboards_cont {
  @include flex (row, space-between, center, nowrap);
  margin-top: 44px;
  margin-bottom: 45px;

}

.skateboards_cont-box {
  width: 32%;
  img {
    width: 100%
  }
}

.skateboards_cont-box_anim {
  opacity: 0;
  transform: translate(-80%, 0px);
  transition: all 1s ease;
      &._active {
        opacity: 1;
        transform: translate(0px, 0px);
      }
}

.skateboards_box-text {
  h3 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 21px;
  }
  p {
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 23px;
  }
}

@media (max-width: $pc) {
  .skateboards_cont {
    @include flex (column, center, center, nowrap);
  }
  .skateboards_cont-box {
    width: 70%;
    margin: 10px;
  }
}

@media (max-width: $notebook) {
  .skateboards-block {
    height: 750px;
  }
}

@media (max-width: $tablet) {
  .skateboards-block {
    height: 600px;
  }
  .skateboards-block-text {
    p {
      width: 300px;
    }
  }
  .skateboards_cont-box {
    width: 100%;
  }

}
